.25_88 { 
	overflow:hidden;
}.e25_88 { 
	background-color:rgba(15.9375, 14.944061357527971, 14.944061357527971, 1);
	width:390px;
	height:844px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
	position:absolute;
}.e25_89 { 
	background-color:rgba(156.18750303983688, 122.31577858328819, 86.23502746224403, 1);
	width:353px;
	height:808px;
	position:absolute;
	left:447.5px;
	top:69px;
	border-radius:50px;
}.e30_4675 { 
	width:353px;
	height:808px;
	position:absolute;
	left:18px;
	top:18px;
}.e25_116 { 
	background-color:rgba(90.3124974668026, 48.04719440639019, 3.025460592471063, 1);
	width:353px;
	height:808px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.e30_4674 { 
	width:235.5px;
	height:405px;
	position:absolute;
	left:54px;
	top:140px;
}.e25_90 { 
	color:rgba(255, 255, 255, 1);
	width:65px;
	height:19px;
	position:absolute;
	left:45.5px;
	top:97px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e25_92 { 
	background-color:rgba(192.31249898672104, 129.41830426454544, 129.41830426454544, 1);
	width:34px;
	height:33px;
	position:absolute;
	left:2.5px;
	top:207px;
}.e25_93 { 
	background-color:rgba(192.31249898672104, 129.41830426454544, 129.41830426454544, 1);
	width:36px;
	height:36px;
	position:absolute;
	left:0.5px;
	top:124px;
}.e25_94 { 
	background-color:rgba(192.31249898672104, 129.41830426454544, 129.41830426454544, 1);
	width:36px;
	height:36px;
	position:absolute;
	left:4.5px;
	top:268px;
}.e25_95 { 
	background-color:rgba(192.31249898672104, 129.41830426454544, 129.41830426454544, 1);
	width:36px;
	height:36px;
	position:absolute;
	left:2.5px;
	top:369px;
}.e25_96 { 
	width:32px;
	height:32px;
	position:absolute;
	left:4.5px;
	top:371px;
}.e25_97 { 
	background-color:rgba(255, 210.00000268220901, 51.00000075995922, 1);
	width:0.9735002517700195px;
	height:1.2789993286132812px;
	position:absolute;
	left:12.303500175476074px;
	top:14.718000411987305px;
}.e25_98 { 
	background-color:rgba(255, 210.00000268220901, 51.00000075995922, 1);
	width:30.829999923706055px;
	height:30.802499771118164px;
	position:absolute;
	left:0.578499972820282px;
	top:0.7925000190734863px;
}.e25_99 { 
	width:36px;
	height:32px;
	position:absolute;
	left:124.5px;
	top:168px;
}.e25_100 { 
	width:24.7502498626709px;
	height:28px;
	position:absolute;
	left:8.5px;
	top:190px;
}.e30_4673 { 
	width:36px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
}.e25_91 { 
	background-color:rgba(192.31249898672104, 129.41830426454544, 129.41830426454544, 1);
	width:36px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
}.e25_101 { 
	width:27px;
	height:25px;
	position:absolute;
	left:4px;
	top:5px;
}.e25_102 { 
	background-color:rgba(255, 210.00000268220901, 51.00000075995922, 1);
	width:20.700010299682617px;
	height:21.666667938232422px;
	position:absolute;
	left:3.6000001430511475px;
	top:1.6666667461395264px;
}.e25_103 { 
	background-color:rgba(255, 210.00000268220901, 51.00000075995922, 1);
	width:31.5px;
	height:31.5px;
	position:absolute;
	left:2.5px;
	top:90px;
}.e25_104 { 
	width:24px;
	height:24px;
	position:absolute;
	left:12.5px;
	top:272px;
}.e25_105 { 
	background-color:rgba(255, 210.00000268220901, 51.00000075995922, 1);
	width:24px;
	height:15px;
	position:absolute;
	left:-3.885780586188048e-16px;
	top:4.5px;
}.e25_106 { 
	width:29px;
	height:25px;
	position:absolute;
	left:4.5px;
	top:178px;
}.e25_107 { 
	width:18.642858505249023px;
	height:23.214284896850586px;
	position:absolute;
	left:5.178571701049805px;
	top:0.8928572535514832px;
}.25_108 { 
	border:1px solid rgba(255, 210.00000268220901, 51.00000075995922, 1);
}.e25_108 { 
	width:18.642858505249023px;
	height:23.214284896850586px;
	position:absolute;
	left:0px;
	top:0px;
}.25_109 { 
	border:1px solid rgba(255, 210.00000268220901, 51.00000075995922, 1);
}.e25_109 { 
	width:6.214285850524902px;
	height:5.357142448425293px;
	position:absolute;
	left:6.214285850524902px;
	top:5.357142448425293px;
}.e25_110 { 
	color:rgba(255, 255, 255, 1);
	width:70px;
	height:19px;
	position:absolute;
	left:48.5px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e25_111 { 
	color:rgba(255, 255, 255, 1);
	width:34px;
	height:19px;
	position:absolute;
	left:49.5px;
	top:181px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e25_112 { 
	color:rgba(255, 255, 255, 1);
	width:72px;
	height:19px;
	position:absolute;
	left:47.5px;
	top:275px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e25_113 { 
	color:rgba(255, 255, 255, 1);
	width:188px;
	height:19px;
	position:absolute;
	left:47.5px;
	top:378px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}